// Colors Pallette
$light-text: #f6f3ec;
$primary-bg: #ece4da;
$bright-two: #b9a590;
$bright-three: #574c3f;
$text-color: #36302a;

// New Color Pallette
$main-color: #4abf66;
$dark-green: #3a994f;
$muted-green: #a8d8ba;

// Accent colors
$accent-main: #333333;
$accent-second-bg: #444444;

// Links
$unvisited: #4444e9;
$visited: #551a8b;

// Border Radius
$card-bdr: 10px;
$inner-card-bdr: 5px;
$button-bdr: 20px;
$soft-button-bdr: 10px;

/*
use dark gray for backgrounds, and light gray or white for readability to balance darker sections. 

Use black / dark gray for main text.

use main green for buttons on interactive elements. 
*/

// Breakpoint units
$monitor: 1200px;
$laptop: 1024px;
$laptopSM: 968px;
$tablet: 768px;
$mobile: 468px;

// box-shadow
$boxShadow: 0 4px 8px rgba(0, 0, 0, 0.15);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// function to convert px units to rem units
@function rem($px, $base-font-size: 16px) {
  @return calc($px / $base-font-size) * 1rem;
}
