@use './plug' as p;

.hero-container {
  position: relative;
  height: 110vh;

  .content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;

    .hero-content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
